h1{
  font-family: $bold2;
  @include fontSize(48,36,1575);
  color: $text;
}
h2{
  font-family: $bold2;
  @include fontSize(36,28,1575);
  color: $text;
}
.markedBlue{
  font-family: $text1;
  color: $blue;
  @include fontSize(12,11,1575);
}
h3{
  font-family: $bold1;
  @include fontSize(25,21,1575);
  color: $text;
  line-height: calc( 50px / 25px);
}
h4{
  font-family: $bold1;
  @include fontSize(24,20,1575);
  color: $text;
  line-height: calc( 48px / 24px);
}
h5{
  font-family: $bold1;
  @include fontSize(22,18,1575);
  color: $text;
  line-height: calc( 48px / 22px);
}
h6{
  font-family: $bold1;
  @include fontSize(18,16,1575);
  color: $text;
  line-height: calc( 48px / 18px);
}
strong,b{
  font-family: $bold1;
  color: $text;
  @include fontSize(18,17,1575);
  line-height: calc(28px / 18px);
}
.button{
  cursor: pointer;
  background-color: $blue;
  outline: none;
  border:none;
  border-radius:8px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: $bold2;
  font-weight: bold;
  color: #fff;
  @include fontSize(15,13,1575);
  transition: opacity 0.3s ease;
  &:hover{
    opacity: 0.9;
  }
}
.button-fill{
  transition: transform 0.3s ease-out;
  display: inline-block;
  background-color: $blue;
  text-decoration: none;
  border:none;
  outline: none;
  padding: 6px 16px;
  border-radius:8px;
  color: #fff;
  font-family: $bold2;
  @include fontSize(14,13,1575);
  line-height: calc(24px / 14px);
  min-height: 36px;
  
  &>img.arr{
    margin-left: 6px;
    transform: translateY(2px);
    transition: transform 0.3s ease-out;
  }
  &:hover{
    img.arr{
      transform: translate(3px,2px);
    }
  }
  &:active{
    transform: scale(.95);
  }
}
.button-stroke{
  transition: transform 0.3s ease-out;
  display: inline-block;
  border:1px solid $blue;
  border-radius:10px;
  text-decoration: none;
  padding: 6px 16px;
    border-radius:8px;
    color: $blue;
    font-family: $bold2;
    @include fontSize(14,13,1575);
    line-height: calc(24px / 14px);
    min-height: 36px;
    &:active{
      transform: scale(.95);
    }
}
.pagination{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content{
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__link{
    color: $text;
    font-family: $bold3;
    @include fontSize(16,16,1575);
    display: flex;
    padding: 6px 10px;
    justify-content: center; 
    align-items: center;
    &.current{
      background-color: $blue;
      color: #fff;
      border-radius:5px;
    }
  }
  &__arr{
    display: flex;
    cursor: pointer;
    padding: 10px;
    &.disabled{
      opacity: 0.9;
    }
  }
}
.disabled{
  background-color: $grey2;
}
.blueText{
  color: $blue;
}

.progressbar{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 1005px;
  &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  &__top{
      padding: 11px;
      margin-bottom: 23px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
  }
  &__line{
      position: absolute;
      top: 50%;
      &.disabled{
          background-color: $grey2;
      }
      &-left{
          position: absolute;
          top: 50%;
          left: 0px;
          width: 45%;
          height: 2px;
          background-color: $blue;
          &.disabled{
              background-color: $grey2;
          }
      }
      right: 0px;
      width: 45%;
      height: 2px;
      background-color: $blue;
  }
  &__dot{
      width: 11px;
      height: 11px;
      background-color: $blue;
      border-radius: 50%;
      &.disabled{
          background-color: $grey2;
      }
  }
}
.burger{
  display: none;
}
@media(max-width:1100px){
  .burger{
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px;
    &__line{
      height: 2px;
      background-color: $text;
      max-width: 18px;
      width: 100%;
      border-radius:3px;
      margin-bottom: 3px;
      transition: transform 0.3s ease,opacity 0.3s ease,;
      &:nth-of-type(2){
        max-width: 15px;
        transform: translateX(3px);
      }
    }
    &.active{
      .burger__line:nth-of-type(1){
        transform: rotate(45deg) translate(4px,2px);
      }
      .burger__line:nth-of-type(2){
        opacity: 0;
        visibility: hidden;
      }
      .burger__line:nth-of-type(3){
        transform: rotate(-45deg) translate(5px,-3px);
      }
    }
  }
}